{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MyResume - Satendra Lawtry</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{%static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <!-- <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: MyResume - v4.8.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
        <strong> {{name}} </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                        <span>Portfolio</span></a></li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a>
                </li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1> Satendra Lawtry</h1>
            <p>I'm <span class="typed"
                    data-typed-items="Full-Stack Python Developer, Web Designer, Python Developer, Freelancer, Django Developer "></span>
            </p>
            <div class="social-links">
                <a href="https://twitter.com/satendralawtry1" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/satendra.lawtry" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/satendra_lawtry" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://join.skype.com/invite/vwAOzc863Okk" class="google-plus"><i
                        class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/satendra-lawtry" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About me</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="{%static 'assets/img/profile-img.jpeg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>
                            Full-Stack Python Developer
                        </h3>
                        <p class="fst-italic">
                            Hello, I am Satendra Lawtry, Doing Full-stack Python Development, have Knowledge of
                            Frontend, backend, Database, Python and various Technologies Mentioned In this website
                            below. I Am Looking For a Opportunity to Further Enhance skills for Development of
                            Organization as well as
                            mine.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>

                                    <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Satendra Lawtry
                                        </span></li>

                                    <!-- <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>5 June
                                            1990</span></li>
                                    </li> -->

                                    <li><i class="bi bi-chevron-right"></i> <strong>Highest Qualification:</strong>
                                        <span>Master degree</span>
                                    </li>

                                    <li><i class="bi bi-chevron-right"></i> <strong>Hobbies:</strong>
                                        <span>Explore nature, Sports, Cooking</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                        <span>Available</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <p>
                            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt
                            adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus
                            itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis
                            culpa magni laudantium dolores.
                        </p> -->
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Facts</h2>
                    <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                        ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Minor Projects</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Major Projects</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-cup"></i>
                            <span data-purecounter-start="0" data-purecounter-end="236" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Cup Of Tea</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-award"></i>
                            <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                                class="purecounter"></span>
                            <p>Awards</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Passionate Full-stack Developer with 1 year of experience in developing scalable Projects/website
                        and applications using a wide range of front-end and back-end skills like HTML, CSS, JavaScript,
                        Python etc. Developed some website and Projects from scratch. Looking to further enhance my
                        skills as the future full stack develepor.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">BootStrap <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Python <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Django <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">SQL <i class="val">65%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Jquery <i class="val">65%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p> My intention at this step would be to learn new things related to my profession. As it is a
                        technical field, one has to be updated because technology changes often. it is my responsibility
                        to learn and adopt new technology. It would be profitable for me as well as for the
                        organization.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <!-- <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">

                            <h4>Brandon Johnson</h4>
                            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing
                                    and developing user-centered digital/print marketing material from initial concept
                                    to final, polished deliverable.</em></p>
                            <ul>
                                <li>Portland par 127,Orlando, FL</li>
                                <li>(123) 456-7891</li>
                                <li>alice.barkley@example.com</li>
                            </ul>
                        </div> -->

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Masters of science (FWT)</h4>
                            <h5>DEC-2011 – JUNE-2014</h5>
                            <p><em>From Indira Gandhi national open university</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Bachelor of computer application</h4>
                            <h5>JUNE-2008 - JUNE-2011</h5>
                            <p><em>Makhan Lal Chaturvedi national university of journalism and communication
                                    Bhopal.</em></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>computer operator</h4>

                            <p><em>Nagpur, Maharastra , India </em></p>
                            <ul>
                                <p> Two and half Year in AVTAR AND COMPANY Which located in Nagpur (M.H) as a computer
                                    operator
                                    at Head office.</p>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Faculty at PMKVY</h4>

                            <p><em>Multai, Madhya Pradesh, India</em></p>
                            <ul>
                                <p> Two years of experience in Pradhan Mantri kousal Vikash yojana (FDDI) center as a
                                    faculty.</p>
                            </ul>
                        </div>

                        <h3 class="resume-title">Training Program </h3>
                        <div class="resume-item">
                            <h4>Full Stack Developer</h4>

                            <p><em>Indore, Madhya Pradesh , India </em></p>
                            <ul>
                                <p>Currently doing One Year Python full stack developer training program from
                                    programmer’s point.</p>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p> Below Some Projects are available in My Github account </p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app1.jpeg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>Music Player</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app1.jpeg' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/Music-Player">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app2.png' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>Student Information System</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app2.png' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/Student-info-System">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app3.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>Gmail OTP Login Project</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app3.jpg' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/Gmail-OTP-Login-Project">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app4.png' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>Basic Crud Operation's Project</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app4.png' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/ProjectOn-CrudOperation">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app5.jpeg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>Tea Shop Web Project</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app5.jpeg' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/TeaShop-WebProject">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app6.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p>E Commerce Web Project</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app6.jpg' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/E-Commerce-Web-Project">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{%static 'assets/img/portfolio/app7.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Project</h4>
                                <p> STUDENT PANEL</p>
                                <div class="portfolio-links">
                                    <a href="{%static 'assets/img/portfolio/app7.jpg' %}"
                                        data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="https://github.com/satendra-lawtry/STUDENT-PANEL">
                                        <i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>
        </section><!-- End Portfolio Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{%static 'assets/img/testimonials/testimonials-1.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Toufiq Raja</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    We have 10x the revenue now than before working with you. That number alone is
                                    something to be amazed at. Other ways that You helped my company is through writing
                                    copy for email campaigns and web support.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{%static 'assets/img/testimonials/testimonials-2.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Sachin Sahu</h3>
                                <h4>NGO</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                thanx to satendra for ur greatfull support for my ngo.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{%static 'assets/img/testimonials/testimonials-3.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Shailendra Kolare</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    When you notice users promoting your brand on social media, make an effort to interact with them. Like and share their post if it’s a good piece of content.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{%static 'assets/img/testimonials/testimonials-4.jpeg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Ravi Singh Rana</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Having influencers share their trusted name and image with your company adds another layer of credibility and trustworthiness to your brand.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{%static 'assets/img/testimonials/testimonials-5.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Swalay raees</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Having natural conversations on social media about your work is authentic and adds another layer of credibility to your company. The main difference between these and other testimonials is that the other types are usually requested, whereas social recommendations are mostly spontaneous.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row mt-1">

                    <div class="col-lg-4">
                        <div class="info">

                            <div class="linedin">
                                <i class="bi bi-linkedin"></i>
                                <h4>linkedin</h4>
                                <a href="https://www.linkedin.com/in/satendra-lawtry/">&nbsp &nbsp My Linkedin</a>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email</h4>
                                <p>Satendra.lawtry@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call or Whatsapp</h4>
                                <p>+91 7879540666</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-github"></i>
                                <h4>Github</h4>
                                <a href="https://github.com/satendra-lawtry">&nbsp &nbsp My github</a>
                                <!-- <p>Nanda Nagar, patnipura, indore </p> -->
                            </div>



                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">

                                {% for message in messages %}

                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0"
                                    role="alert">
                                    <strong> {{name}} </strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>

                                {% endfor %}

                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Satendra Lawtry</h3>
            <p>Thanks For Visiting My Resume Porifolio Website, <span>All Suggestions are appreciated</span></p>

            <div class="social-links">
                <a href="https://twitter.com/satendralawtry1" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/satendra.lawtry" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/satendra_lawtry" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://join.skype.com/invite/vwAOzc863Okk" class="google-plus"><i
                        class="bx bxl-skype"></i></a>
                <a href="https://www.linkedin.com/in/satendra-lawtry" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                Designed by <a href="#">Satendra Lawtry</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{%static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>